{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}

<section class="heroe">
    <h1>Welcome to Snowtricks!</h1>
    <p>Collaborative blog about snowboard tricks - by and for snowboard fans</p>
    <img src="#" alt="image heroe">
    <button onclick=".trickslist">See tricks list</button>
</section>

<section id="tricksList">
    {% for trick in allTricks %}
    <article>
        <h2>
            <a href="#{#path('trick_detail', {'id': trick.id})#}"> {{trick.name}} </a>
        </h2>
        <img src="#" alt="a picture of the trick"></img>
        {# if isLogged() #}
            <a href="#{#path('trick_update', {'id': trick.id})#}">Modify this trick</a>
            <button onclick="#">Delete this trick</button>
        {# endif #}
    </article>
    {% endfor %}
    <button onlclick="#trickslist">Back to the top of the list</button>
</section>

{% endblock %}
