{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}

<section class="heroe">
    <h1>Bienvenue sur Snowtricks!</h1>
    <p>Le site communautaire par et pour les passionné-es de snowboard</p>
    <img src="#" alt="image heroe">
    <button onclick="#">Voir la liste des figures</button>
</section>

<section class="tricksList">
    {# for trick in allTricks #}
    <article>
        <h2> Nom de la figure
<!--           <a href="{{path('trick_detail', {'id': article.id})}}"> {{trick.name}} </a> -->
        </h2>
        <img src="#" alt="image de la figure">
 <!--           {#trick.image#} -->
        </img>
        {# if logged in#}
            <a href="{{path('trick_update', {'id': article.id})}}"> {{trick.name}} </a>
            <button onclick="#"> supprimer </button>
        {# endif #}
    </article>
    {# endfor #}
    <button onlclick="#">Retour en haut de la liste (icone)</button>
</section>

{% endblock %}
