@tailwind base;
@tailwind components;

.main {
    padding: 2%;
}

.headfoot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    color: #fff;
}

nav li {
    margin: 0 4% 0 4%;
    text-decoration: underline;
}

@tailwind utilities;
