@tailwind base;
@tailwind components;

.main {
    padding: 2%;
}

.headfoot {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    color: #fff;
}

.nav .li {
    width: 20%;
    margin: 1%;
}

@tailwind utilities;
