{{ form_start(form) }}
    <div class="form-control bg-cyan-100">

        {{ form_widget(form, {'attr': {'class': 'm-4 rounded-lg border-2 border-slate-400 bg-slate-100 p-2'}}) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>

{{ form_end(form) }}
