{{ form_start(form) }}
    <div class="form-control bg-cyan-100">

        {{ form_widget(form, {'attr': {'class': 'm-4 rounded-lg border-2 border-slate-400 bg-slate-100 p-2'}}) }}
        <button class="btn my-8 py-2 px-12 hover:italic hover:bg-cyan-300">{{ button_label|default('Create an account') }}</button>
    </div>

{{ form_end(form) }}
