{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block main %}
    <h1 class="not-italic font-sans font-semibold">Registration</h1>

    {{ include('user/_form.html.twig') }}

{% endblock %}
