{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block main %}
    <h1 class="not-italic font-sans font-semibold">Registration</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_login') }}">
        <p class="my-3 underline hover:italic hover:text-cyan-500 text-center">Already an account?</p>
    </a>

{% endblock %}
